[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:zerofancy/hugo_encryptor_kt.git
